.question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 1200px;
    margin: 20px 0;
}

@media only screen and (max-width: 1200px) {
    .question-container {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .question-container {
        display: block;
        margin: 20px 0;
    }
}

.question-text-container {
    padding: 20px;
    border: 1px solid black;
    border-bottom: 0px;
}

.question-number {
    font-weight: bold;
    font-size: 24px;
    padding: 20px
}

.question-text {
    font-weight: lighter;
    font-size: 16px;
}

.check-group {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.check-group label {
    font-weight: bold;
}

.check-group input[type="checkbox"] {
    font-size: 24px;
    background: red;
    border: 1px solid red;
    color: red;
    padding: 25px;
    margin: 25px;
}